{% extends "base.twig" %}

{% block content %}
    <div class="ui basic segment">
        <h1 class="ui header">{{error.title|default('Error found!')}}</h1>
        {{error.message}}
    </div>
    <div class="ui basic segment">
        <a href="javascript:window.history.go(-1)" class="ui button"><i class="ui arrow left icon"></i> Go back</a>
    </div>
{% endblock %}