{% extends "base.twig" %}
{% import _self as r %}

{% block content %}
    <div class="ui center aligned basic grid segment">
        <div style="margin: 2em 0; width: 40em">
            <form action="{{app.securilex.getLoginCheckPath()}}" method="post">
                <div class="ui form piled raised segment">
                    <h1 class="ui header">Please Login To Continue</h1>
                    {% if error|default(null) %}<div class="ui negative message">{{error}}</div>{% endif %}
                    <div class="ui big basic segment">
                        <div class="required field">
                            <label>User Name</label>
                            <input type="text" name="_username" placeholder="User Name" value="" />
                        </div>
                        <div class="required field">
                            <label>Password</label>
                            <input type="password" name="_password" placeholder="Password" value="" />
                        </div>
                        <div class="required field center aligned">
                            <input class="ui big primary button" type="submit" name="login" value="Login" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}