{% extends "renobase.twig" %}

{% block content %}
    <h1 class="ui dividing header">
        <div class="breadcrumb">
            <span>{{r.crumb_project(project, true)}} &raquo;</span>
            {% if plugin.title is defined %}
                <span>
                    <i class="ui plug icon"></i><a href="{{app.entity_path('plugin_index',project)}}">Plugins</a> &raquo;
                </span>
            {% endif %}
        </div>
        {% if plugin.title is defined %}
            <span><i class="ui {{plugin.icon}} icon"></i>{{plugin.title}}</span>
            {% else %}
            <span><i class="ui plug icon"></i>Plugins</span>
        {% endif %}
    </h1>

    {% block pluginView %}

    {% endblock %}
{% endblock %}
