<table class="ui striped very compact table">
	<thead>
		<tr>
			<th class="four wide">File</th>
			<th>Instruction</th>
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
			<tr>
				<td class="top aligned">
					<strong>{{row.File|raw}}</strong>
				</td>
				<td class="top aligned">
					{{ r.prettyDisplay(row.Instruction) }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

