<table class="ui striped very compact table">
	<thead>
		<tr>
			<th class="four wide">Folder</th>
			<th class="four wide">Revision</th>
			<th>Remark</th>
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
			<tr>
				<td class="top aligned">
					{{ r.prettyDisplay(row.folder) }}
				</td>
				<td class="top aligned">
					{{ r.prettyDisplay(row.revision) }}
				</td>
				<td class="top aligned">
					{{ r.prettyDisplay(row.remark) }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

