<table class="ui striped very compact table">
	<thead>
		<tr>
			<th>Command</th>
			<th class="four wide">Nodes</th>
			<th class="four wide">Remark</th>
		</tr>
	</thead>
	<tbody>
		{% for row in data %}
			<tr>
				<td class="top aligned">
					<div class="ui form">
						<input type="text" value="{{row.command}}" readonly="readonly" />
					</div>
				</td>
				<td class="top aligned">
					{{ r.prettyDisplay(row.nodes) }}
				</td>
				<td class="top aligned">
					{{ r.prettyDisplay(row.remark) }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

